@model pharm4me7.Models.Prescript

@{
    ViewBag.Title = "Prescription Details";
}

<h2>Prescription Details</h2>

<div>
    <h4>Prescript</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Item
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item.Name)
        </dd>

        <dt>
            Patient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName) @Html.DisplayFor(model => model.Patient.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disp) @Html.DisplayFor(model => model.DispType)
        </dd>


        <dt>
            Details
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sig)
        </dd>

        <dt>
            Brand
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Refill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refill)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrescriptId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
