@model pharm4me7.Models.POrderFill

@{
    ViewBag.Title = "Edit";
}

<h2>Prescription Pickup</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Confirm Pickup</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.POrderFillId)

        <div class="form-group">
            @Html.LabelFor(model => model.POrderId, "Order #", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.POrderId, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.POrderId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.InventoryId, "InventoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.InventoryId, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.InventoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.POrderId, "Details", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <h3>@Model.POrder.Prescript.Patient.LastName,  @Model.POrder.Prescript.Patient.FirstName</h3>
                <h4>@Model.POrder.Prescript.item.Name </h4>
                <h5>@Model.POrder.Prescript.Disp @Model.POrder.Prescript.DispType</h5>
                <h5>Note: @Model.POrder.Prescript.Sig</h5>
                <h5>Brand: @Model.POrder.Prescript.Sub</h5>
                <h5>
                    Prescribed By:
                    @if (Model.POrder.Prescript.Doctor != null)
                    {
                        @: Dr.@Model.POrder.Prescript.Doctor.LastName, @Model.POrder.Prescript.Doctor.FirstName
                            }
                </h5>
                <h5>Clinic: @Model.POrder.Prescript.Patient.Clinic.Name - @Model.POrder.Prescript.Patient.Clinic.Phone </h5>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "PharmacyIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
