@model IEnumerable<pharm4me7.Models.Pharmacist>

@{
    ViewBag.Title = "Pharmacy Users";
}

<h2>Pharmacy Users</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th data-th="Pharmacist ID">
            @Html.DisplayNameFor(model => model.PharmacistId)
        </th>
        <th data-th="First Name">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th data-th="Last Name">
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th data-th="Email">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th data-th="Action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PharmacistId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.PharmacistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PharmacistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PharmacistId })*@
        </td>
    </tr>
}

</table>
