@model pharm4me7.Models.Clinic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            Users
        </dt>
        <dd>

            <table class="table">
                @Html.ActionLink("Create New", "Create", "Doctors", routeValues: new { clinic = Model.ClinicId }, htmlAttributes: new { @class = "btn btn-primary"})
                @foreach (var item in Model.Doctors)
                {
                    <tr>
                        <td data-th="Doctor ID">
                            @Html.DisplayFor(modelItem => item.DoctorId)
                        </td>
                        <td data-th="Name">
                            @Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td data-th="Address">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClinicId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
