@model IEnumerable<pharm4me7.Models.Clinic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td data-th="Name">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td data-th="Address">
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td data-th="City">
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td data-th="Phone">
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td data-th="Action">
            @Html.ActionLink("Edit", "Edit", new { id=item.ClinicId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClinicId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClinicId })
        </td>
    </tr>
}

</table>
