 data-th="Name"@model IEnumerable<pharm4me7.Models.POrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pharmacy.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prescript.DispType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deny)
        </th>
        <th
            @Html.DisplayNameFor(model => model.Accept)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td data-th="Pharmacy Name">
            @Html.DisplayFor(modelItem => item.Pharmacy.Name)
        </td>
        <td data-th="Prescription Type">
            @Html.DisplayFor(modelItem => item.Prescript.DispType)
        </td>
        <td data-th="Date Ordered">
            @Html.DisplayFor(modelItem => item.DateOrdered)
        </td>
        <td data-th="Note">
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td data-th="Fill">
            @Html.DisplayFor(modelItem => item.Fill)
        </td>
        <td data-th="Deny">
            @Html.DisplayFor(modelItem => item.Deny)
        </td>
        <td data-th="Accept">>
            @Html.DisplayFor(modelItem => item.Accept)
        </td>
        <td data-th="Action">
            @Html.ActionLink("Edit", "Edit", new { id=item.POrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.POrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.POrderId })
        </td>
    </tr>
}

</table>
