@model IEnumerable<pharm4me7.Models.POrder>

@{
    ViewBag.Title = "Requests";
}

<h2>Prescription Requests</h2>


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Date
        </th>
        <th>
            Prescription
        </th>
        <th>
            Brand
        </th>
        <th>
            Refills
        </th>
        <th>
            Note
        </th>
        <th>
            Clinic
        </th>
        <th>
            Physician
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.Accept == false && item.Deny == false)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prescript.Patient.LastName), @Html.DisplayFor(modelItem => item.Prescript.Patient.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOrdered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prescript.item.Name) : @Html.DisplayFor(modelItem => item.Prescript.Disp) @Html.DisplayFor(modelItem => item.Prescript.DispType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prescript.Sub)
        </td>
        

        <td>
            @Html.DisplayFor(modelItem => item.Prescript.Refill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prescript.Doctor.Clinic.Name)
        </td>

        <td>
            <div class="btn-group">
                @Html.ActionLink("Info", "Details", "Prescripts", new { id = item.PrescriptId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Accept", "PharmacyIndex", new { id = item.POrderId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Deny", "Edit", new { id = item.POrderId }, new { @class = "btn btn-danger" })
            </div>
        </td>
    </tr>
    }
}

</table>

<h2>Archived Requests</h2>

<h3>Pending</h3>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Date
        </th>
        <th>
            Prescription
        </th>
        <th>
            Brand
        </th>
        <th>
            Refills
        </th>
        <th>
            Note
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Accept == true && item.Fill == false)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.Patient.LastName), @Html.DisplayFor(modelItem => item.Prescript.Patient.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrdered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.item.Name) : @Html.DisplayFor(modelItem => item.Prescript.Disp) @Html.DisplayFor(modelItem => item.Prescript.DispType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.Sub)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.Refill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    PENDING | @Html.ActionLink("Deny", "Edit", new { id = item.POrderId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }
</table>

<h3>Filled</h3>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Date
        </th>
        <th>
            Prescription
        </th>
        <th>
            Brand
        </th>
        <th>
            Refills
        </th>
        <th>
            Note
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Accept == true && item.Fill == true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.Patient.LastName), @Html.DisplayFor(modelItem => item.Prescript.Patient.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrdered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.item.Name) : @Html.DisplayFor(modelItem => item.Prescript.Disp) @Html.DisplayFor(modelItem => item.Prescript.DispType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.Sub)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.Refill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    PRESCRIPTION FILLED
                </td>
            </tr>
        }
    }
</table>
  
<h3>Denied</h3>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Date
        </th>
        <th>
            Prescription
        </th>
        <th>
            Brand
        </th>
        <th>
            Refills
        </th>
        <th>
            Note
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Deny == true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.Patient.LastName), @Html.DisplayFor(modelItem => item.Prescript.Patient.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrdered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.item.Name) : @Html.DisplayFor(modelItem => item.Prescript.Disp) @Html.DisplayFor(modelItem => item.Prescript.DispType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.Sub)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Prescript.Refill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    DENIED
                </td>
            </tr>
        }
    }
</table>  
        
  



