@model IEnumerable<pharm4me7.Models.Inventory>

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Item", "Index", new { sortOrder = ViewBag.ItemSortParm })
        </th>
        <th>
            @Html.ActionLink("Amount", "Index", new { sortOrder = ViewBag.AmountSortParm })
        </th>
        <th>
            @Html.ActionLink("Unit Type", "Index", new { sortOrder = ViewBag.UnitSortParm })
        </th>
        <th>
            @Html.ActionLink("Brand", "Index", new { sortOrder = ViewBag.BrandSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DispType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            <div class="btn-group">
                @Html.ActionLink("Edit", "Edit", new { id = item.InventoryId }, new { @class = "btn btn-success" })
                @*@Html.ActionLink("Details", "Details", new { id = item.InventoryId }, new { @class = "btn btn-info" })*@
                @Html.ActionLink("Delete", "Delete", new { id = item.InventoryId }, new { @class = "btn btn-danger" })
            </div>
        </td>
    </tr>
}

</table>
