@model IEnumerable<pharm4me7.Models.Inventory>

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table id="inventoryTable"class="table">
    <tr>
        <th onclick="sortTable(0)" data-th="Item">
            Item
            @*@Html.ActionLink("Item", "Index", new { sortOrder = ViewBag.ItemSortParm })*@
        </th>
        <th onclick="sortTable(1)" data-th="Amount">
            Amount
            @*@Html.ActionLink("Amount", "Index", new { sortOrder = ViewBag.AmountSortParm })*@
        </th>
        <th onclick="sortTable(2)" data-th="Unit Type">
            Unit Type
            @*@Html.ActionLink("Unit Type", "Index", new { sortOrder = ViewBag.UnitSortParm })*@
        </th>
        <th onclick="sortTable(3)" data-th="Brand">
            Brand
            @*@Html.ActionLink("Brand", "Index", new { sortOrder = ViewBag.BrandSortParm })*@
        </th>
        <th data-th="Action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DispType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            <div class="btn-group">
                @Html.ActionLink("Edit", "Edit", new { id = item.InventoryId }, new { @class = "btn btn-success" })
                @*@Html.ActionLink("Details", "Details", new { id = item.InventoryId }, new { @class = "btn btn-info" })*@
                @Html.ActionLink("Delete", "Delete", new { id = item.InventoryId }, new { @class = "btn btn-danger" })
            </div>
        </td>
    </tr>
}

</table>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("inventoryTable");
  switching = true;
  dir = "asc";
  while (switching) {
	switching = false;
	rows = table.rows;
	for (i = 1; i < (rows.length - 1); i++) {
  	 shouldSwitch = false;
  	x = rows[i].getElementsByTagName("TD")[n];
  	 y = rows[i + 1].getElementsByTagName("TD")[n];
  	if (dir == "asc") {
    	if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
      	 shouldSwitch = true;
      	 break;
    	}
  	 } else if (dir == "desc") {
    	if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
      	 shouldSwitch = true;
      	 break;
    	}
  	 }
	}
	if (shouldSwitch) {
  	 rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
  	 switching = true;
  	switchcount ++;
	} else {
  	 if (switchcount == 0 && dir == "asc") {
    	 dir = "desc";
    	switching = true;
  	 }
	}
  }
}
</script>
