@{
    ViewBag.Title = "Pharm4Me";
}


@*<h2>@ViewBag.Title</h2>*@
@if (User.IsInRole("Patient"))
{
<h3>@ViewBag.Message1</h3>
<h4>Get started:</h4>
@Html.ActionLink("View Prescriptions", "PatientsIndex", "Prescripts", null, new { @class = "btn btn-info" })
}
else if (User.IsInRole("Doctor"))
{
<h3>@ViewBag.Message1</h3>
<h4>@ViewBag.Message2</h4>
<h4>Get started:</h4>
<div class="btn-group">
    @Html.ActionLink("Patients", "Index", "Patients", null, new { @class = "btn btn-info" })

    @Html.ActionLink("Prescriptions", "Index", "Prescripts", null, new { @class = "btn btn-info" })
</div>
}
else if (User.IsInRole("Manager"))
{
<h3>@ViewBag.Message1</h3>
<h4>@ViewBag.Message2</h4>
<h4>Get started:</h4>
<div class="btn-group">
    @Html.ActionLink("Customers", "PharmacyIndex", "Patients", null, new { @class = "btn btn-info" })

    @Html.ActionLink("Inventory", "Index", "Inventories", null, new { @class = "btn btn-info" })

    @Html.ActionLink("Requests", "PharmacyIndex", "POrders", null, new { @class = "btn btn-info" })

    @Html.ActionLink("Orders", "PharmacyIndex", "POrderFills", null, new { @class = "btn btn-info" })
</div>
}
<img src="~/Assets/images/index.jpg" alt="Index Banner" style="width:100%;" />
<h3 style="text-align:center;"><i>"Bringing healthcare solutions closer to home."</i></h3>
<p style="padding-left: 5%; padding-right: 5%;">Pharm4Me is one of Ontario's upcoming ePrescription system. With Pharm4Me you can access, track, and place your prescription orders in the comfort of your home. By making Pharm4Me online, you never have to worry about losing a prescription. A digital version will always be available for your reference. Don't favour the ePrescription too much? You also have the option to print out your prescriptions as well. By keeping things digital, we keep a light carbon footprint to reducing paper waste.</p>



<p style="padding-left: 5%; padding-right: 5%;">Pharm4Me is one of Ontario's upcoming ePrescription system. With Pharm4Me you can access, track, and place your prescription orders in the comfort of your home. By making Pharm4Me online, you never have to worry about losing a prescription. A digital version will always be available for your reference. Don't favour the ePrescription too much? You also have the option to print out your prescriptions as well. By keeping things digital, we keep a light carbon footprint to reducing paper waste.</p>

<h4>Know your meds.</h4>
<table>
    <tr>
        <td>
            <img src="~/Assets/images/consult.jpg" alt="Consult" style="width:90%;" />
        </td>
        <td><p style="padding-left: 5%; padding-right: 5%;">Remember those old prescription papers your doctor gives to you? Do you ever understand what it says, or what it means (given that you're able to read it)? There's a chance that you may have glanced at it, paid it no mind, and gave it to your local pharmacist to get your medication. By using our services, get a medical knowledge of the prescriptions you are given. Every prescription you receive through Pharm4Me will have its information of the drug, the medical and common name for it, the description of it and what it helps/relieve. At Pharm4Me, we believe it is a good practice to know what your body ingests and know the effects of medicines as well.</p></td>
    </tr>
</table>

<br />


<h5 style="text-align:center">Interested to know more? Read about us!</h5>





