@model pharm4me7.Models.Pharmacy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pharmacy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            Users
        </dt>
        <dd>
            <table class="table">
                @Html.ActionLink("Create New", "Create", "Pharmacists", routeValues: new { clinic = Model.PharmacyId }, htmlAttributes: new { @class = "btn btn-primary" })
                @foreach (var item in Model.Pharmacists)
                {
                    <tr>
                        <td data-th="Doctor ID">
                            @Html.DisplayFor(modelItem => item.PharmacyId)
                        </td>
                        <td data-th="Name">
                            @Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td data-th="Address">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PharmacyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
